
.header{
    display: flex;
    flex-direction: row;
    -ms-flex-direction: column;
   
    border: 1px solid black;
}
.logo-container{

}
.logo{
    height:120px;
    width:120px
}
.nav-items{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   padding:0px 20px;
    ul{
        list-style: none;
        display: flex;
        font-size: 24px;
        li{
            padding: 10px;
            list-style: none;
           
        }
        li.login-container{
            list-style: none;
        }
        :nth-last-child(1){
            list-style: none;
        }
        :hover{
            background-color: #e8d8d8;
            color: #3e3d3d;
            cursor: pointer;
        }
     
    }
 
}
.search{
    /* padding: 10px;
    width: 100px;
    height: 100px; */
  
}
.body{
    /* display: flex; */
    /* padding: 10px; */
  
    .top-head{
        padding: 10px;
        display: flex;
        justify-content: flex-end;
       
        .search-cont{

        }
        .filter{
           
             padding: 10px;
              .filter-btn{
                  align-items: flex-end;
                  padding: 9px;  
                  background-color: rgb(62, 205, 64);
                  border-radius: 2px;
                  border: none;
              }
          }
    }

    .search-box{
        display: flex;
        flex-direction: row;
    }
    .res-container{
        display: flex;
        /* padding: 14px;
        margin: 6px; */
        flex-wrap: wrap;
        justify-content: center;
    }
}
.res-card{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
 height: auto;
 padding: 5px;
 width: 250px;
 justify-content: space-around;
 /* position: absolute; */
 /* padding: 14px; */
   
    box-shadow: 0dvb;
    .res-img{
           
        height: 100%;
        width: 100%;
        object-fit:cover;
    }
    .res-body{
        padding: 4px;
        font-family: Arial, Helvetica, sans-serif;
        .res-title{
           font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 800;
           
           
        }
       
        .res-description{
    font-size: 12px;
    color:#616161;
        }
        .res-footer{
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            padding: 2px;
            font-size: 12px;
            color:#616161;
            .res-rating{
                list-style: none;
            }
            padding:6px 0 8px 0 ;
            border-bottom: 1px solid #dcd7d7;
        }
        }
        .res-sec{
            color: red;
        }
        .res-detail{
            display: none;
        
        }
        .res-card:hover{
            border: 1px solid #616161;
            box-shadow: #3e3d3d;
            cursor: pointer;
            /* .res-detail{
                display: block;
               display: flex;
               justify-content: center;
               padding: 10px;
               color: rgb(115, 115, 246);
            } */
        }
      
        
        
}
/* :hover{
    border: 2px solid black;
} */
/* .header:hover, .res-detail:hover, .res-img:hover, .res-body:hover, .res-footer:hover, .res-sec:hover {
    border: none;
} */

.shimmer-container{
    display: flex;
  
}
.shimmer-cards{
    
    border: 1px solid black;
   margin: 20px;

 height: auto;
 padding: 5px;
 width: 250px;
 justify-content: space-around;
 background-color: #f0f0f0;

}
.menu{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px; */

}
.card{
    /* width: max-content; */
    /* background-color: #e8d8d8;
   
    margin: 10px;
    border: 1px solid grey;
    border-radius: 2px;
    box-shadow: #dcd7d7 */
    /* display: flex;
    flex-direction: row; */
    border: 1px solid black;
   /* margin: 12px; */
   justify-content: flex-end;
   display: flex;
   flex-direction: row;
  

}
.card-desc{
    font-weight: 400px;
    color: #616161;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
.card-section1{
   
    /* flex-direction: column;
    justify-content: flex-start; */
    /* padding: 20px; */
    /* display: flex; */
    /* width: 100%; */

font-weight: 700;
}
.card-head-sec{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.card-section2{
    /* padding: 20px; */

    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
}
.card-footer{
    font-weight: 700;
    padding: 8px;
       flex-direction: row;
    flex-wrap: nowrap;
    display: flex;

}
.promoted-label{
    color:black;
    font-weight: 700;
    font-size: larger;
}
.accordian{
    display: flex;
    flex-direction: column;
   
    margin: 10px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: #dcd7d7;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}
.accordian-text{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    }
.accordian-click{
    cursor: pointer;
}
.item-list{
    /* display: flex;
    flex-direction: row; */
    /* padding: 20px;
    margin: 10px; */
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: #dcd7d7;
    background-color: bisque;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    /* width: 100%; */
    }
.item-card{
    /* display: flex;
    flex-direction: row; */
   

    
}
.addcart{
    background-color: black;
    color: white;
    position: absolute;
    right:20px
    /* padding: 10px; */
}
.clearCart{
    width: 100px;
    height: 50px;
    color: black;
    background-color: gainsboro;
    position: absolute;
    top:150px;
    right: 20px;
    border-radius: 2px;
}